:root {
    --light_color: #FEF5ED;
    --green-light: #D3E4CD;
    --green-middle: #ADC2A9;
    --green-dark: #99A799;
    --dark: #4b4d4bc0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Start Navbar*/

.navbar {
    background-color: var(--green-dark);
}

.navbar .container-fluid {
    padding: 0.5rem 5rem;
}

.navbar button {
    background-color: var(--light_color);
}

#logout-btn {
    text-decoration: none;
    background-color: var(--light_color);
    color: var(--dark);
    padding: 0.5rem 2rem;
    border-radius: 5px;
}


/*End Navbar*/